<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenue sur la page d'analyse des performances.</title>
	</head>
	<body>
		<h1>Analyse des performances</h1>
		<p>
			Bienvenue, {{ nom }}.
			{# Génère l'URL absolue depuis cette vue, avec la fonction "url". #}
			{# <a href="{{ path('jef_performance_view', { "id": id}) }}" #}
			{# Lien vers le document à l'id {{ name }} #}
			{# </a> #}
		</p>
	</body>
</html>